@import url('https://fonts.googleapis.com/css?family=Exo+2:200');

body {
	font-family: 'Exo 2', sans-serif;
}

.tab-tab {
	width: 50%;
	margin : 0 auto;
}

input,
textarea {
	border-radius: 5px;
}

#findFormLabel{
	width: 100%;
	height: 30px;
	background-color: #5bc0de;
	display: none;
}